@import "roboto.css";
@import "OpenSans.css";
@import "reset.css";
@import "raleway.css";
@import "font-awesome.css";
@import "myfont.css";

$orange: #ff9b51;
$hoverOrange:#ff8b38;

.signup{
    background: url(../assets/images/header-background.jpg) no-repeat center bottom fixed;
    background-size: 100%;
    height: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .head{
        height: 70px;
        background: #000;
        display:flex;
         align-items: center;
         position: fixed;
         z-index: 10;
         width: 100%;
         .container{
                    width:100%;
                   display: flex;
                   flex-direction: row;
                   align-items: center;
                   justify-content: space-between;
                   .header__menu ul{
                       display: flex;
                       li{
                           padding-right: 45px;
                           &:last-child{
                               padding-right: 0;
                           }
                           a{
                            text-decoration: none;
                            color: #b0b0b0;
                            font-size: 1.4em;
                            font-family: 'Open Sans', sans-serif;
                            &:hover{
                                color:$orange;
                                transition: 0.5s;
                            }
                           }
                       }
                   }
                   .header__menu-mobile{
                       height: 40px;
                       width: 40px;
                       display: none;
                       position: relative;
                       color: #fff;
                       text-align: center;
                       transition: 0.5s all;
                       ul{
                           li{
                            a{
                             text-decoration: none;
                             color: #b0b0b0;
                             font-size: 1.4em;
                             font-family: 'Open Sans', sans-serif;
                             &:hover{
                                 color:$orange;
                                 transition: 0.5s;
                             }
                            }
                        }
                       }
                       input{
                        &#check-menu{
                            display: none;
                            &:checked ~ .header__main-menu-mobile{ 
                                transition: 0.5s all;
                                top: 70px;  
                            }
                            &:checked ~ .burger-line__first{
                                display: none;
                            }
                            &:checked ~ .burger-line__second{
                               transform: rotate(45deg);
                            }
                            &:checked ~ .burger-line__third{
                                transform: rotate(-45deg);
                             }
                             &:checked ~ .burger-line__fours{
                                display: none;
                            }
                        } 
                       }
                       label{
                           display: block;
                           position: absolute;
                           top: 0;
                           left: 0;
                           width: 100%;
                           height: 100%;
                           cursor: pointer;
                           z-index: 15;
                       }
                       .burger-line{
                           position: absolute;
                           top: 8px;
                           right: 10px;
                           width: 35px;
                           height: 2px;
                           background-color: #fff;
                           transition: 0.5s all;
                       }
                       .burger-line__second{
                           top: 18px;
                       }
                       .burger-line__third{
                           top: 18px;
                       }
                       .burger-line__fours{
                           top:28px;
                       }
                   }
                   .header__main-menu-mobile{
                       position: fixed;
                       transition: 0.5s all;
                       font-size: 1.4em;
                       display: flex;
                       height: 20%;
                       overflow: hidden;
                       top: -100%;
                       width: 100%;
                       border-top: 2px solid $hoverOrange;
                       align-items: center;
                       text-align: left;
                       padding-left: 30px;
                       left: 0;
                       background-color: #000;
                   }
        }
    }
    .head-content{
        margin-top: 70px;
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 135px;
            .signup-content{
                img{
                    margin-bottom: 35px;
                }
                .signup-content__title{
                    color: #fff;
                    font-family: 'Raleway', sans-serif;
                    font-size: 3.6em;
                    width: 70%;
                    margin-bottom: 40px;
                }
                .signup-content__separator{
                    width: 65px;
                    border: 1px solid #fff;
                    margin-bottom: 40px;
                }
                .signup-content__text{
                    width:70%;
                    color: #abaaaa;
                    font-size: 1.6em;
                    font-family: 'Raleway', sans-serif;
                    margin-bottom: 45px;
                }
                .signup-content__download-button{
                    border: 1px solid #d0d0d1;
                    width: 135px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5em;
                    font-family: 'Open Sans', sans-serif;
                    color: #fff;
                    outline:1px solid #fff;
                    &:hover{
                        transition:0.5s;
                        border: 1px solid $hoverOrange;
                        outline: 1px solid $hoverOrange;
                        cursor:pointer;
                        color:$hoverOrange;
                    }
                }
            }
            .form{
                background:#fff;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                .form__header{
                    width:360px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 55px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    background: #f5f5f5;
                    color: #333333;
                    font-size: 2em;
                    font-weight: bold;
                    font-family: 'Open Sans Bold',sans-serif;
                    margin-bottom:30px;
                    span{
                        color: $hoverOrange;
                    }
                }
                form{
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    input{
                        margin: 0 40px;
                        font-family: 'Open Sans Regular', sans-serif;
                        font-size: 1.5em;
                        padding: 10px 13px;
                        border: 0;
                        border-bottom: 1px solid #d6d6d6;
                        border-left: 1px solid #fbfbfb;
                        &:nth-child(n){
                            margin-bottom:37px;
                        }
                        &:nth-child(2n){
                            margin-bottom:47px;
                        }
                        
                    }
                    .form__button{
                        margin: 0;
                        color: #fff;
                        background: #ff9b51;
                        border: 0;
                        height: 54px;
                        font-family: 'Open Sans Semibold',sans-serif;
                        font-size: 1.5em;
                        border-bottom-right-radius: 3px;
                        border-bottom-left-radius: 3px;
                        &:hover{
                            cursor: pointer;
                            background: $orange;
                            background: $hoverOrange;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}
.media{
    background:#fff;
    padding:23px 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .media-content{
            width: 35%;
            .media-content__title{
                margin-bottom: 13px;
                font-size: 2em;
                font-family: 'Open Sans Bold',sans-serif;
                color: #333333;
            }
            .media-content__text{
                font-family: 'Open Sans Regular',sans-serif;
                font-size: 1.4em;
                color: #86878b;
            }

        }
        .media-icons{
            a{
                margin-right: 65px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
.features{
    background-color: #f5f5f5; 
    padding: 145px 0 115px 0;
    .container{
        display: flex;
        align-items: flex-start;
        .tab-buttons{
            margin-right: 100px;
            .tab__button{
                text-transform: uppercase;
                font-family: 'Open Sans Bold',sans-serif;
                font-size: 1.5em;
                width: 110px;
                height: 110px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                background: #333333;
                margin-bottom: 1px;
                &:first-child{
                    border-top-right-radius: 3px;
                    border-top-left-radius: 3px;
                }
                &:last-child{
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    margin-bottom: 0;
                }
                &:hover{
                    cursor: pointer;
                    transition: 0.5s;
                    background: $orange;
                }
            }
            .tab-active{
                transition: 0.5s;
                background: $hoverOrange !important;
                &:hover{
                    cursor: pointer;
                    transition: 0.5s;
                    background: $orange !important;
                }
            }
        }
        .tab-content-active{
            display: flex !important;
            animation: tabSlide .4s ease-in-out;
        }
        .tab-content{
            display: none;
            align-items: center;
            .tab-content__wrapper{
                margin-right: 100px;
                .tab-content__title{
                    font-family: 'Open Sans Bold', sans-serif;
                    color: #000;
                    font-size: 2em;
                    margin-bottom: 60px;
                }
                .tab-content__text{
                    font-size: 14px;
                    color: #86878b;
                    font-family: 'Open Sans Regular', sans-serif;
                    &:nth-child(n){
                        margin-top: 30px;
                    }
                }
                .tab-content__download{
                    margin-top: 50px;
                    font-size: 14px;
                    font-family: 'Open Sans Semibold',sans-serif;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 45px;
                    background: $orange;
                    border-radius: 2px;
                    &:hover{
                        transition: 0.5s;
                        background: $hoverOrange;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.sublist{
    background: #ffffff;
    padding: 110px 0 135px 0;
    .container{
        display: flex;
        justify-content: space-between;
        .sublist__picture-wrapper{
            margin: 20px 193px 0 7px;
            img{
                box-shadow: 0px 21px 56px -4px #7d7d7d;
            }
        }
        .icon{
            font-family: "myfont",sans-serif;
            width: max-content;
            height: max-content;
            font-size: 4em;
            color: $orange;
            margin-right: 30px;
            &:hover{
                cursor: pointer;
                transition: 0.5s;
                color: $hoverOrange;
            }
        }
        .sublist__content-wrapper{
            .sublist__title{
                font-size: 2em;
                font-family: 'Open Sans Bold',sans-serif;
                margin-bottom: 30px;
            }
            .sublist__content__separator{
                border: 1px solid $orange;
                width: 62px;
                margin-bottom: 30px;
            }
            .sublist__description{
                font-family: 'Open Sans Regular',sans-serif;
                font-size: 1.4em;
                color: #86878b;
                margin-bottom: 45px;
            }
            .sublist__content-item{
                display: flex;
                &:nth-child(3n){
                    margin-bottom: 40px;
                }
                .content-item__wrapper{
                    .content-item__title{
                        font-size: 1.4em;
                        font-family: 'Open Sans Semibold',sans-serif;
                        color: #000;
                        margin-bottom: 15px;
                    }
                    .content-item__text{
                        font-family: 'Open Sans Regular',sans-serif;
                        font-size: 1.4em;
                        color: #86878b;
                    }
                }
            }
        }
    }
}
.standart{
    background: #f5f5f5;
    padding: 90px 0 130px 0;
    .container{
        display: flex;
        .standart-content{
            .standart-content__title{
                font-family: 'Open Sans Bold',sans-serif;
                font-size: 2em;
                margin-bottom: 30px;
            }
            .standart-content__separator{
                border: 1px solid $orange;
                width: 62px;
                margin-bottom: 30px;
            }
            .standart-content__text{
                font-family: 'Open Sans Regular',sans-serif;
                font-size: 1.4em;
                color: #86878b;
                &:nth-child(3n){
                    margin-bottom: 30px;
                }
            }
        }
        .standart-picture{
            margin-left: 195px;
            img{
                box-shadow: 0px 21px 56px -4px #7d7d7d;
            }
        }
    }
}
.process{
    background: #ffffff;
    padding: 110px 0;
    .container{
        .process-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .process-content__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                &:nth-child(2n){
                    margin: 0 25px;
                }
                .icon{
                    font-family: 'MyFont',sans-serif;
                    font-size: 7em;
                    margin-bottom: 35px;
                    color: $orange;
                    &:hover{
                        cursor: pointer;
                        transition: 0.5s;
                        color: $hoverOrange;
                    }
                }
                .process-content__item-wrapper{
                    span{
                        text-align: center;
                        font-family: 'Open Sans Bold',sans-serif;
                        font-size: 2em;
                        color: #333333;
                        display: block;
                        margin-bottom: 30px;
                    }
                    p{
                        text-align: center;
                        font-family: 'Open Sans Regular',sans-serif;
                        font-size: 1.4em;
                        color: #86878b;
                    }
                }
            }
        }
    }
}
.price{
    background: #f5f5f5;
    padding: 105px 0 95px 0;
    .container{
        .price-content-wrapper{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .price-content__item{
                .price__item-header{
                    div{
                        background: #333333;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 1px;
                        color: #ffffff;
                        font-family: "Open Sans Bold",sans-serif;
                        padding: 25px;
                        font-size: 2em;
                    }
                }
                .price__item-list{
                    .professional{
                        border-bottom: 0 !important;
                    }
                    div{
                        text-transform: uppercase;
                        color: #86878b;
                        background: #fff;
                        margin: 1px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.4em;
                        font-family: "Open Sans Regular",sans-serif;
                        padding: 15px 0;
                        width: 345px;
                        &:first-child   {
                            background-color: #333333;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            border-bottom: $hoverOrange solid 5px;
                            p{
                                &:first-child{
                                    font-family: 'Raleway Bold',sans-serif;
                                    font-size: 3.5em;
                                    color: #fff;
                                    i{
                                        font-style: normal;
                                        font-size: 2.6em;
                                    }
                                }
                                &:last-child{
                                    font-family: "Open Sans Semibold",sans-serif;
                                    font-size: 1.4em;
                                    color: #999999;
                                    font-style: italic;
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }
                    .price__item-list__professional{
                        background: $hoverOrange;
                        color: #fff;
                        margin: 0;
                    }
                }
            }
        }
    }
    .price__item-list-active{
        display: block !important;
        text-align: center;
        transition: 0.3s;
        animation: tabPriceSlide 0.4s;
    }
}
.testimonials{
    padding: 110px 0 100px 0;
    background: #fff;
    .container{
        .section-header{
            margin-bottom: 50px;
        }
        .testimonials-wrapper{
            display: flex;
            justify-content: space-between;
            .testimonials__item{
                .testimonials__coment{
                    width: 273px;
                    margin-bottom: 25px;
                    p{
                        font-family: "Open Sans Regular",sans-serif;
                        color: #86878b;
                        font-size: 1.4em;
                        font-style: italic;
                        background: #f5f5f5;
                        padding: 30px 15px;
                        border-radius: 3px;
                        width: 95%;
                        position: relative;
                        &::before{
                            content: ""; 
                            border: solid transparent;
                            position: absolute; 
                            top: 100%;
                            left: 20px;
                            border-top-color: #f5f5f5;
                            border-width: 15px;
                            margin-left: -1px;
                        }
                    }
                }
                .testimonials__person{
                    display: flex;
                    align-items: center;
                    .person__icon-wrapper{
                        margin-right: 15px;
                        img{
                            border-radius: 50%;
                        }
                    }
                    .person__content{
                        p{
                            color: #333333;
                            font-size: 2em;
                            font-family: "Open Sans Bold",sans-serif;
                        }
                        span{
                            color: #86878b;
                            font-size: 1.4em;
                            font-family: "Open Sans Regular",sans-serif;
                        }
                    }
                }
            }
        }
    }
}
.custom{
    background: url(../assets/images/custom-background.png) no-repeat center bottom;
    background-size: 100%;
    .container{
        padding: 75px 0 60px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-header{
            margin-bottom: 35px;
            .section__title{
                color: #ffffff;
            }
            .section__separator{
                border: 1px solid #ffffff;
            }
            p{
                font-size: 1.6em;
                color: #b1afad;
            }
        }
    }
}
.contact{
    background: #ffffff;
    padding: 105px 0 80px 0;
    .container{
        .section-header{
            margin-bottom: 95px;
        }
        .contact__form-wrapper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            form{
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 35px;
                input{
                    font-family: "Open Sans Regular",sans-serif;
                    font-size: 1.4em;
                    color: #bdbdbd;
                    padding: 10px;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                    &::placeholder{
                        font-family: "Open Sans Regular",sans-serif;
                        color: #bdbdbd;
                    }
                }
            }
            .contact__message{
                flex-basis: 50%;
                margin-left: 35px;
                textarea{
                    font-family: "Open Sans Regular",sans-serif;
                    font-size: 1.4em;
                    color: #bdbdbd;
                    padding: 10px;
                    overflow: auto;
                    display: block;
                    height: 50px;
                    content: "Message";
                    width: 100%;
                    min-height: 155px;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                    &::placeholder{
                        font-family: "Open Sans Regular",sans-serif;
                        color: #bdbdbd;
                    }
                }
            }
        }
        .contact__send-button{
            width: 145px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $orange;
            color: #ffffff;
            font-family: "Open Sans Semibold",sans-serif;
            font-size: 1.5em;
            border-radius: 3px;
            box-shadow: 0 1px 1px 1px #cfcfcf;
            margin: 0 auto;
            &:hover{
                transition: 0.5s;
                background: $hoverOrange;
            }
        }
    }
}
footer{
    background: #000000;
    padding: 15px 0 10px 0;
    a{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        color: #cccccc;
        &:hover{
            transition: 0.5s;
            color: $hoverOrange;
        }
    }
    .container{
        .footer-links{
            font-family: "MyFont",sans-serif;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        .footer-dev{
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                transition: 0.5s;
                color: $hoverOrange;
            }
            i{
                margin-right: 15px;
            }
                color: #cccccc; 
                font-family: "Open Sans Regular",sans-serif;
        }
    }
}
.section-header{
    margin-bottom: 80px;
    .section__title{
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 3.6em;
        text-transform: uppercase;
        font-family: 'Raleway Regular',sans-serif;
        color: #212121;
        margin-bottom: 30px;
    }
    .section__separator{
        border: 1px solid $orange;
        width: 62px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    p{
        font-family: 'Open Sans Regular',sans-serif;
        font-size: 1.4em;
        color: #86878b;
        margin: 0 auto;
        text-align: center;
    }
}
.download-button{
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcd9d5;
    outline: 1px solid #f5f5f5;
    color: #f5f5f5;
    font-size: 1.5em;
    font-family: "Open Sans Semibold",sans-serif;
    &:hover{
        transition:0.5s;
        border: 1px solid $hoverOrange;
        outline: 1px solid $hoverOrange;
        cursor:pointer;
        color:$hoverOrange;
    }
}
.container{
    max-width: 1110px;
    margin:0 auto;
}   
@keyframes tabSlide {
    from {
        transform: translateX(100%);
      }
    
      to {
        transform: translateX(0%);
      }
}
@keyframes tabPriceSlide {
    from {
        transform: translateY(-20%);
      }
    
      to {
        transform: translateY(0%);
      }
}
@media screen and(max-width:1400px){
    .custom{
        background-size: auto;
    }
}
@media screen and (max-width:1200px){
    .container{
        padding:0 15px;
    }
    .signup{
        background-size: cover;
        .head-content{
            .container{
                .signup-content{
                    .signup-content__title{
                        width: 80%;
                    }
                }
            }
        }
    }
    .media{
        .container{
            .media-icons{
                a{
                    margin-right: 30px;
                }
            }
        }
    }
    .price{
        .container{
            .price-content-wrapper{
                .price-content__item{
                    .price__item-list{
                        div{
                            width: 280px;
                        }
                    }
                }
            }
        }
    }
    .testimonials{
        .container{
            .testimonials-wrapper{
                justify-content: space-around;
            }
        }
    }
}
@media screen and (max-width:987px){
    .signup{
        height: auto;
        .head-content{
            position: static;
            .container{
                display: block;
                margin-bottom: 30px;
                .signup-content{
                    img{
                        margin: 30px 0;
                    }
                    text-align: center;
                    .signup-content__title{
                        width: 100%;
                    }
                    .signup-content__separator{
                        margin: 0 auto 40px auto;
                    }
                    .signup-content__text{
                        width: 100%;
                    }
                    .download-button{
                        margin: 0 auto 30px;
                    }
                }
                .form{
                    width: 360px;
                    margin: 0 auto;
                }
            }
        }
    }
    .media{
        .container{
            .media-icons{
                font-size: 0.9em;
            }
        }
    }
    .features{
        padding: 50px 0;
        .container{
            .tab-content-active{
                img{
                    display: none;
                }
            }
        }
    } 
    .sublist{
        padding: 50px 0;
        .container{
            .sublist__picture-wrapper{
                display: none;
            }
            .sublist__content-wrapper{
                .sublist__content-item{
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    } 
    .standart{
        padding: 50px 0;
        .container{
            .standart-picture{
                display: none;
            }
        }
    }
    .process{
        padding: 50px 0;
        .container{
            .process-content{
                display: block;
                .process-content__item{
                    margin: 0 0 30px 0 !important;
                    &:last-child{
                        margin: 0 !important;
                    }
                }
            }
        }
    }
    .price{
        padding: 50px 0;
        .container{
            padding: 0 50px;
            max-width: none;
            .price-content-wrapper{
                display: block;
                .price-content__item{
                    .price__item-header{
                        div{
                            padding: 15px 0;
                        }
                        cursor: pointer;
                        .professional{
                            border-bottom: $hoverOrange solid 5px !important;
                        }
                    }
                    .price__item-list{
                        display: none;
                        div{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .testimonials{
        padding: 50px 0;
        .container{
            .testimonials-wrapper{
                display: block;
                .testimonials__item{
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .testimonials__coment{
                        width: 100%;
                    }
                }
            }
        }
    }
    .contact
    {
        .container{
            .contact__form-wrapper{
                .contact__message{
                    textarea{
                        width: 80%;
                    }
                }
            }
        }
    } 
}
@media screen and (max-width:768px){
    body{
        font-size: 7px;
    }
    .signup{
        .head-content{
            .container{
                .form{
                    width: auto;
                    .form__header{
                        width: auto;
                    }
                }
            }
        }
        .head{
            .container{
                .header__menu{
                    display: none;
                }
                .header__menu-mobile{
                    display: block;
                }
            }
        }
    }
    .media{
        display: none;
    }
    .features{
        .container{
            display: block;
            .tab-buttons{
                margin-right: 0;
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                .tab__button{
                    width: 90px;
                    height: 90px;
                    &:first-child{
                        border-radius: 0;
                    }
                    &:last-child{
                        border-radius: 0;
                    }
                }
            }
            .tab-content{
                .tab-content__wrapper{
                    margin-right: 0;
                    .tab-content__title{
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .testimonials{
        padding: 50px 0;
        .container{
            .testimonials-wrapper{
                display: block;
                .testimonials__item{
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .testimonials__coment{
                        width: 100%;
                        p{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
@media screen and(max-width:375px){
    .contact{
        .container{
            .contact__form-wrapper{
                form{
                    margin-right: 10px;
                }
                .contact__message{
                    margin-left: 10px;
                }
            }
        }
    }
}